@import "variables";

// @font-face {
//   font-family: '#{$icomoon-font-family}';
//   src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8pgzlu');
//   src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8pgzlu#iefix') format('embedded-opentype'),
//     url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8pgzlu') format('truetype'),
//     url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8pgzlu') format('woff'),
//     url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8pgzlu##{$icomoon-font-family}') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

[class^="bp_"], [class*=" bp_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bp_close {
  &:before {
    content: $bp_close; 
  }
}
.bp_heart {
  &:before {
    content: $bp_heart; 
  }
}
.bp_menu {
  &:before {
    content: $bp_menu; 
  }
}
.bp_star {
  &:before {
    content: $bp_star; 
  }
}
.bp_star-half {
  &:before {
    content: $bp_star-half; 
  }
}
.bp_advertise {
  &:before {
    content: $bp_advertise; 
  }
}
.bp_privacy {
  &:before {
    content: $bp_privacy; 
  }
}
.bp_home {
  &:before {
    content: $bp_home; 
  }
}
.bp_search {
  &:before {
    content: $bp_search; 
  }
}
.bp_mail {
  &:before {
    content: $bp_mail; 
  }
}
.bp_user_circle {
  &:before {
    content: $bp_user_circle; 
  }
}
.bp_user {
  &:before {
    content: $bp_user; 
  }
}
.bp_clock {
  &:before {
    content: $bp_clock; 
  }
}
.bp_check {
  &:before {
    content: $bp_check; 
  }
}
.bp_check_square {
  &:before {
    content: $bp_check_square; 
  }
}
.bp_up {
  &:before {
    content: $bp_up; 
  }
}
.bp_down {
  &:before {
    content: $bp_down; 
  }
}
.bp_left {
  &:before {
    content: $bp_left; 
  }
}
.bp_right {
  &:before {
    content: $bp_right; 
  }
}
.bp_facebook {
  &:before {
    content: $bp_facebook; 
  }
}
.bp_linkedin {
  &:before {
    content: $bp_linkedin; 
  }
}
.bp_twitter {
  &:before {
    content: $bp_twitter; 
  }
}
.bp_pinterest {
  &:before {
    content: $bp_pinterest; 
  }
}
.bp_google_plus {
  &:before {
    content: $bp_google_plus; 
  }
}
.bp_instagram {
  &:before {
    content: $bp_instagram; 
  }
}
.bp_youtube {
  &:before {
    content: $bp_youtube; 
  }
}

