$icomoon-font-family: "boilerplate" !default;
$icomoon-font-path: "fonts" !default;

$bp_close: "\e5cd";
$bp_heart: "\f004";
$bp_menu: "\f0c9";
$bp_star: "\f005";
$bp_star-half: "\e902";
$bp_advertise: "\e900";
$bp_privacy: "\e901";
$bp_home: "\f015";
$bp_search: "\f002";
$bp_mail: "\f0e0";
$bp_user_circle: "\f2be";
$bp_user: "\f007";
$bp_clock: "\f017";
$bp_check: "\f00c";
$bp_check_square: "\f046";
$bp_up: "\f077";
$bp_down: "\f078";
$bp_left: "\f053";
$bp_right: "\f054";
$bp_facebook: "\f09a";
$bp_linkedin: "\f0e1";
$bp_twitter: "\f099";
$bp_pinterest: "\f0d2";
$bp_google_plus: "\f0d5";
$bp_instagram: "\f16d";
$bp_youtube: "\f167";

