.glide {

	$that: '.glide' !default;

	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	max-width:1200px;
	&:after, &:before {
	    content: "";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: -100%;
	    display: block;
	    background-color: rgba(0,0,0,0.54);
	    z-index: 1;
	}

	&:before {
		left: 100%;
	}

	// &__wrapper {
	// 	overflow: hidden;
	// }

	&__track {
		position: relative;
		width: 100%;
		height: 100%;
		list-style: none;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		touch-action: pan-Y;
		overflow: hidden;
		padding: 0; margin:0;

		&.dragging {
			cursor: grabbing;
			user-select: none;
		}
	}


	&__slide {
		width: 100%;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;

		a {
			user-select: none;
			-webkit-user-drag: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	}


	&__arrows {
		-webkit-touch-callout: none;
		user-select: none;
	}


	&__arrow {
		cursor: pointer;
	}

	&__bullets {
		-webkit-touch-callout: none;
		user-select: none;
	}

	&--slider {

		#{$that}__slide {
			float: left;
			clear: none;
		}

		#{$that}__arrow {}

	}


	&--carousel {

		&#{$that}--vertical {

			#{$that}__track {
				overflow: visible;
			}

		}

		#{$that}__slide {
			float: left;
			clear: none;
		}

	}


	&--slideshow {

		#{$that}__wrapper {
			height: 100%;
		}

		#{$that}__slide {
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			z-index: -1;
			// Flashing issue fix
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translate3d(0px, 0px, 0px);

			&.active {
				z-index: 1;
			}
		}

	}

}