@if variable-exists(background) {
  // No Webp Support Detected
  .no-webp {
    @each $bg in $background {
      $bgElem: nth($bg, 1);
      $bgName: nth($bg, 2);
      $bgExtn: nth($bg, 3);

      #{$bgElem} {
        background-image: url("./assets/images/#{$bgName}.#{bgExtn}");
      }
    }
  }

  // Webp Support Detected
  .webp {
    @each $bg in $background {
      $bgElem: nth($bg, 1);
      $bgName: nth($bg, 2);

      #{$bgElem} {
        background-image: url("./assets/images/#{$bgName}.webp");
      }
    }
  }
}