.cntfom {
    margin: 0 (-$spacer/2);

    label {
        padding: 0 ($spacer/2);
        margin-bottom: $spacer;

        strong {
            display: block;
            cursor: pointer;
            margin-bottom: ($spacer/2);
            color: color(primaryTextColor);
            font-weight: 500;
        }

        input:not([type="checkbox"]):not([type="radio"]):not([type="button"]),
        textarea,
        select {
            padding: 10px;
            border: solid 1px #efefef;
            width: 100%;
            font-size: 12px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-clip: padding-box;
        }

        textarea {
            min-height: 150px;
            resize: vertical
        }
    }

    .btn {
        cursor: pointer;
        margin: 0 ($spacer/2);
    }
}