.scl {
    @extend [class*="Flx"];
    --size: 40px;
    --fontSize: 18px;
    --bgColor: #{white};
    --color: #{color(primaryColor)};

    .ico {
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        text-align: center;
        color: var(--color);
        background: var(--bgColor);
        @include border-radius(var(--size));
        @include transition(300ms linear);

        &:before {
            font-family: $icomoon-font-family;
            font-size: var(--fontSize);
            counter-reset: sclIco var(--sclIco);
            content: counter(sclIco);
        }

        &:hover,
        &:focus {
            --color: #{white};
        }

        &.fb {

            --bgColor: #{socialColor(facebook)} &:hover,
            &:focus {
                --bgColor: #{lighten(socialColor(facebook), 10%)};
            }

            &:before {
                content: $icon-facebook;
            }
        }

        &.twt {

            --bgColor: #{socialColor(twitter)} &:hover,
            &:focus {
                --bgColor: #{lighten(socialColor(twitter), 10%)};
            }

            &:before {
                content: $icon-twitter;
            }
        }

        &.pnt {

            --bgColor: #{socialColor(pinterest)} &:hover,
            &:focus {
                --bgColor: #{lighten(socialColor(pinterest), 10%)};
            }

            &:before {
                content: $icon-pinterest;
            }
        }

        +.ico {
            margin-left: 5px;
        }
    }
}