.title {
    line-height: 1;
    color: color(primaryTextColor);
    @extend [class*="Vhc"];

    text: {
        align: center;
        transform: uppercase;
    }

    font: {
        weight: 300,
    }
}