/* =========
   Font Face
   ========= */

/* ===============
   Default Setting
   =============== */
:root {

	@each $key,
	$color in $themeColors {
		--#{$key}: #{$color};
	}
}

body {
	color: body(color);
	line-height: body(line-height);
	background: body(background);
	overflow-x: hidden;
}

a {
	display: block;
	cursor: pointer;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: var(--primaryColor);
	}
}

sub {
	vertical-align: top;
	font-size: smaller;
}

p {

	a,
	strong {
		display: inline-block;
		vertical-align: top;
	}

	&:not(:last-of-type) {
		margin-bottom: $spacer;
	}
}

input,
select,
textarea,
button {
	vertical-align: top;
	outline: none;
	color: color(primaryTextColor);
	font-size: 14px;

	@include placeholder {
		color: #dddfdf;
	}
}

/* ====================
   Font Default Setting
   ==================== */
body,
input,
select,
textarea,
button {
	@include font();
}

// -----------------------------------------/

/* ===================
   Icomoon Font Family
   =================== */

[class*="ico"],
[class^="ico"],
.ico {
	&:before {
		font-family: $icomoon-font-family;
		content: '';
	}
}

// -----------------------------------------/

strong {
	font-weight: weights(bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	font-weight: weights(regular);
	margin-bottom: $spacer;
}

// Tablet Media Query
@mixin title-tabletQuery {

	h1,
	h2,
	h3,
	.title {
		font-size: 24px;
	}

	h4,
	h5 {
		font-size: 17px;
	}
}

h6 {
	font-size: 17px
}

h5 {
	font-size: 20px
}

h4 {
	font-size: 25px
}

h3 {
	font-size: 30px
}

h2 {
	font-size: 35px
}

h1 {
	font-size: 40px
}

// subtitle
.subtlt {
	color: color(primaryContrastColor);
}

.main {
	width: 100%;
	min-height: 100vh;
	position: relative;
	transition: 200ms linear;
}

// Flex
[class*="Flx"] {
	display: flex;
	flex-wrap: wrap;
}

// Container
[class*="Wrp"] {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 $spacer;
}

[class*="Vhc"] {
	@extend [class*="Flx"];
	align-items: center;
	justify-content: center;
}

// Flex Direction Column
[class*="Dc"] {
	flex-direction: column;
}

// Section
[class*="Sec"] {
	padding-top: $spacer*1.5;
	padding-bottom: $spacer*1.5;

	&[class*="Bg"]:nth-child(even) {
		background: color(primaryColor);
		color: white;
	}
}

// Image Placeholder
html body .main img[data-src] {
	object-fit: cover;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

img:not([data-src]) {
	@extend .fadeIn;
}

@-moz-document url-prefix() {
	/* =========
   Font Face
   ========= */
	@import "../fonts.scss";
	// -----------------------------------------/
}