:root {
    --direction: row;
    --spacing: #{$spacer/2};
}

.row {
    margin: 0 calc(-1 * var(--spacing));
    @extend [class*="Flx"];
    flex-direction: var(--direction);
}

[class*='col'] {
    padding: 0 var(--spacing);
}

@mixin grid-MobilePortrait-min {

    .cfill,
    [class*='col']:not(.cntr):first-child:last-child {
        flex: 1;
    }

    .cntr {
        margin: auto;
    }

    @for $i from 1 through $total-grids {
        $width: percentage(1 / $i);

        .col-#{$i} {
            width: $width;

        }
    }
}

@mixin grid-MobilePortrait-max {
    --direction: column;

    [class*='col'] {
        +& {
            margin-top: $spacer;
        }
    }
}