// Desktop Media Query (1200)
@media(min-width: #{mediaQuery(Desktop)}px) {
    @if mixin-exists(desktop-min) {
        @include desktop-min;
    }
}

@media(max-width: #{mediaQuery(Desktop)-1}px) {
    @if mixin-exists(desktop-max) {
        @include desktop-max;
    }
}

// ----------------------------------/

// Tablet Media Query (992) and Maximum Desktop
@media(min-width: #{mediaQuery(Tablet)}px) and (max-width: #{mediaQuery(Desktop)-1}px) {
    @if mixin-exists(tablet) {
        @include tablet;
    }
}

@media(min-width: #{mediaQuery(Tablet)}px) {
    @if mixin-exists(tablet-min) {
        @include tablet-min;
    }
}

@media(max-width: #{mediaQuery(Tablet)-1}px) {
    @if mixin-exists(title-tabletQuery) {
        @include title-tabletQuery;
    }

    @if mixin-exists(tablet-max) {
        @include tablet-max;
    }
}

// ----------------------------------/

// Tablet Portrait Media Query (768) and Maximum Tablet
@media(min-width: #{mediaQuery(TabletPortrait)}px) and (max-width: #{mediaQuery(Tablet)-1}px) {

    @if mixin-exists(tabletPortrait) {
        @include tabletPortrait;
    }
}

@media(min-width: #{mediaQuery(TabletPortrait)}px) {

    @if mixin-exists(tabletPortrait-min) {
        @include tabletPortrait-min;
    }
}

@media(max-width: #{mediaQuery(TabletPortrait)-1}px) {

    @if mixin-exists(tabletPortrait-max) {
        @include tabletPortrait-max;
    }
}

// ----------------------------------/

// Mobile Media Query (641) and Maximum Tablet Portrait
@media(min-width: #{mediaQuery(Mobile)}px) and (max-width: #{mediaQuery(TabletPortrait)-1}px) {

    @if mixin-exists(mobile) {
        @include mobile;
    }
}

@media(min-width: #{mediaQuery(Mobile)}px) {
    @if mixin-exists(grid-MobilePortrait-min) {
        @include grid-MobilePortrait-min;
    }

    @if mixin-exists(mobile-min) {
        @include mobile-min;
    }
}

@media(max-width: #{mediaQuery(Mobile)-1}px) {
    @if mixin-exists(grid-MobilePortrait-max) {
        @include grid-MobilePortrait-max;
    }

    @if mixin-exists(mobile-max) {
        @include mobile-max;
    }
}

// ----------------------------------/

// Mobile Portrait Media Query (481) and Maximum Mobile
@media(min-width: #{mediaQuery(MobilePortrait)}px) and (max-width: #{mediaQuery(Mobile)-1}px) {

    @if mixin-exists(mobilePortrait) {
        @include mobilePortrait;
    }
}

@media(min-width: #{mediaQuery(MobilePortrait)}px) {
    @if mixin-exists(mobilePortrait-min) {
        @include mobilePortrait-min;
    }
}

@media(max-width: #{mediaQuery(MobilePortrait)-1}px) {
    @if mixin-exists(mobilePortrait-max) {
        @include mobilePortrait-max;
    }
}

// ----------------------------------/