@charset "utf-8";

/* =========
   Functions 
   ========= */
//@import "../partials/functions";
// -----------------------------------------/

/* =======
   Icomoon 
   ======= */
@import "../icomoon/variables";
// -----------------------------------------/

/* ===============
   Default Setting 
   =============== */

// Main Roots
$compiled-root: "./assets/" !default;
$fonts-root: "#{$compiled-root}fonts/" !default;
$icomoon-font-path: $fonts-root; // Icomoon Font Path Changed

$body: (background: white,
    color: #aaa,
    line-height: 1.3);
$font-family: "Roboto";
$font-size: 16px;
$font-weights: (light: 300,
    regular: 400,
    medium: 500,
    bold: 700);
$font-family-pathname: to-lower-case($font-family);
$border-radius: 5px;
$total-grids :12;
$spacer: 20px;

$custom-fonts: 'BenchNine';
$custom-fonts-weights: (nth($custom-fonts, 1): (light: 300, regular: 400));

@function body($body-key) {
    @return map-get($body, $body-key);
}

@function weights($font-weight) {
    @return map-get($font-weights, $font-weight);
}

/* ===========
   Theme Color
   =========== 
   * primaryColor: greyish blue color
   * primaryTextColor: grey color
   * secondaryTextColor: grey color
   * darkGreyColor: dark gray color 
   * darkGreyColor: darker gray color 
   */
$themeColors: (primaryColor: red,
    primaryTextColor: #232323,
    secondaryTextColor: #6b869d,
    darkGreyColor: #232323,
    darkGreyContrastColor: #1d1d1d);

@function color($color-name) {
    @return map-get($themeColors, $color-name);
}

// -----------------------------------------/

/* ======
   Button
   ====== */
$btn-padding: 10px 20px;
$btn-default-background: #f7f7f7;
$btn-default-color: color(primaryColor);
$btn-themes: (pcolor: color(primaryColor),
    scolor: #404040,
    tcolor: #eeeeee);
$btn-line-themes: (pcolor: color(primaryColor),
    scolor: #404040,
    tcolor: #eeeeee);
// $btn-color: color(primaryColor);
$btn-default-linebox: (width: 1px,
    style: solid,
    color: #6b869d);
$btn-radius: $border-radius;
$btn-font-size: 15px;
$btn-font-weight: 400;
// -----------------------------------------/

/* ==============
   Default Border
   ============== */
$border: (style: solid,
    width: 2px,
    color: #e6e6e6);
// -----------------------------------------/

/* =======
   Plugins
   ======= 
   * Slick Slider
   * Custom Scroll Bar 
   */
// Slick Styling
$slick-font-family: ''; // Disabling Font Face Of Slick & Adding Custom Icon Font Family
// $slick-prev-character: $icon-chevron-left; // Custom Icon Chevron Left Content
// $slick-next-character: $icon-chevron-right; // Custom Icon Chevron Right Content
$slick-arrow-color: color(primaryColor);

// jQuery Custom Scrollbar
$customScrollbar: color(primaryColor);
$customScrollbarRail: rgba(black, 0.1);
// -----------------------------------------/

/* ========================
   Social Media Theme Color
   ======================== */
$socialMediaThemeColor: (facebook: #3b5998,
    twitter: #1da1f2,
    instagram: #dd2a7b,
    linkedin: #0274b3,
    pinterest: #e56262);

@function socialColor($color-name) {
    @return map-get($socialMediaThemeColor, $color-name);
}

// -----------------------------------------/

/* =============
   Media Queries
   =============
   * Desktop: Desktop Screen
   * Tablet: Tablet Screen
   * TabletPortrait: Tablet Portrait Screen
   * Mobile: Mobile Screen
   * MobilePortrait: Mobile Portrait Screen
   */
$mediaQueries: (Desktop: 1200,
    Tablet: 992,
    TabletPortrait: 768,
    Mobile: 641,
    MobilePortrait: 481);

@function mediaQuery($size) {
    @return map-get($mediaQueries, $size);
}

// -----------------------------------------/

@import "_mixins";